.message {
  background-color: #e6e6e6;
  padding: 10px 20px;
  border-radius: 10px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
.message_me {
  margin-left: auto;
}
.name {
  font-weight: bold;
  margin: 0;
}
.photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.text {
  margin: 0;
}