.message {
  background-color: #e6e6e6;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  width: 50%;
}
.message_me {
  margin-left: auto;
}
.name {
  font-weight: bold;
  margin: 0;
}
.text {
  margin: 0;
}