.header {
  background-color: #ffffff;
  box-shadow: 0 5px 5px #eeeeee;
}
.wrapper {
  text-align: center;
  width: 70%;
  height: 30px;
  margin: 0 auto;
  padding: 10px 20px;
}
.logo {
  width: 220px;
  vertical-align: middle;
}
