.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 200px;
  padding: 10px 0;
}
.nav a {
  color: #111111;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  display: block;
}
.nav a:hover {
  background-color: #e6e6e6;
}